body{
        background: linear-gradient(
        to left,
        #33ccff 0%,
        #ff99cc 100%
    );

    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-width:100vh ;
}

.contact-form{
    width: min(90%,500px);

        background: linear-gradient(
        to left,
        #111 0%,
        #b9638e 100%
    );

    padding:50px ;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
}

label{
    color: #33ccff;
    font-size: 20px;
    margin-bottom: 4px;
}

input,
textarea{
    padding: 14px;

    border: 2px solid #333;
    border-radius: 20px;
    outline:none;
    transition: 0.3s;
}

input::placeholder,
textarea::placeholder{
    color: pink;
}

input:focus,
textarea:focus{
    border-color:#33ccff ;
    box-shadow: 0 0 10px rbga(51,204,255,0.5);
}

button{
    padding: 14px;
    margin: 0;
    border-radius: 20px;
    outline: none;
    background: linear-gradient(
    to left,
    rgb(12, 117, 179) 0%,
    #b9638e 100%
    );
    transition: 0.3s;
}

button:hover{
    background: rgb(138, 38, 13);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rbga(0,0,0,0.4);
}