*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;

}
body{
display: flex;
min-height: 100vh;
flex-direction: column;
}
/* HEADER */
.header{
    text-align: center;
    padding: 20px;
}

.section{
    margin-bottom: 30px;
}

.skills ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none
}

.skills li{
    background: #333;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
    transition: 0.3s;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.card{
    background: #24a5bf;
    padding: 15px;
    border-radius: 10px;
    
    transition:0.3s;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);

}

.skills li:hover{
    transform: translateY(-10px);
}
main{
    flex:1;
}
.contact{
    background: #333;
    color: white;
    padding: 20px;
  
    display: flex;
    justify-content: space-around; /* chia đều */
    align-items: center;
    flex-wrap: wrap; /* responsive */
  
    text-align: center;
}

button{
    padding: 10px 20px;
    background: linear-gradient(#9042f5,#d539e3,#c41b7e);
    border: none;
    color: white;
    border-radius: 10px;
    justify-content: center;

    transition:all 0.3 ease;
    cursor: pointer;
}

button:hover{
    background:linear-gradient(#7924bf,#24bfa5,#7924bf);
    transform: scale(1.05);
}

.hero {
    opacity: 0;
    transform: translateY(30px);

    animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
