body{
    background-color: rgb(102, 196, 213);

}
h1{
    color: red;
    font-family: "Bitcount Grid Double","consolas","sans-serif";
}
div{
    background-color: rgb(102, 196, 213);
    color: brown;
    font-family: "consolas", "sans-seri";
    font-style: "italic";
    font-weight: bold;
    /*text-decoration: cyan dotted underline;*/
    
    font-size: 20px;

}
.intro{
    font-size: 15px;
    background-color: tomato;

    border-style: outset;
    border-width: 5px;
    border-color: red;
    border-left-style:double ;
    border-left-width: 10px ;
    border-left-color:silver;
    border-right-style:double ;
    border-right-style: 10px ;
    border-right-color:silver;

    /*margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    */
}


p{
    clear: left;
}

.card{
    border: 5px solid;
    background-color: pink;
    width: 300px;
    height: 280px;
    color: black;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;

    transition: all 0.3s ease;
    
}

.card:hover{
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
button{
    margin-top: 10px;
    padding: 10px;
    width: 100%;

    border: none;
    border-radius: 5px;

    background-color: black;
    color: pink;
    cursor: pointer;
}
.price{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.container{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    /*align-items: center;
    justify-content: center;
    align-items: center;
    
    height: 300px;
    border: 2px solid black;    
    flex-wrap: nowrap;
    gap 20px
    */
}

.box1{
    flex-grow: 1;
    /*width: 80px;
    flex-grow: 1;
    height: 80px;
    background:orange;
    margin: 10px;*/
}
.cards{
    flex-grow: 1;
    min-width: 200px;
    padding: 20px;
    border: 1px solid #ccc;
}
